@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* This CSS will style the scrollbar for Webkit (Chrome, Safari, Edge) */

/* Track */
::-webkit-scrollbar {
  width: 0.5px;
  background-color: #fff; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of the scrollbar handle on hover */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  background-color: #ccc; /* Color of the scrollbar track on hover */
}

/* Button (arrows) */
::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons (arrows) */
}
